################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2024/AdventOfCode2024/AdventOfCode2024/bin/Debug/net8.0
/2024/AdventOfCode2024/.vs/AdventOfCode2024
/2024/AdventOfCode2024/.vs/ProjectEvaluation
/2024/AdventOfCode2024/MyAdventTests/bin/Debug
/2024/AdventOfCode2024/MyAdventTests/obj/Debug
/2024/AdventOfCode2024/AdventOfCode2020/bin/Debug
/2024/AdventOfCode2024/AdventOfCode2020/obj/Debug
